* {
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;
  
}

.header {
  background-color: #6c276c;
  justify-content: space-between;
  display: flex;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  align-items: center;
}
.imageStyle {
  height: 50px;
  width: 50px;
}
