.menu{
    height:30px;
    width:30px;
    
}

.navBarHeader{
    padding-left:20px;
    padding-right:20px;
    padding-top:10px;
    padding-bottom: 10px;
    justify-content: space-between;
    display: flex;
    align-items: center;
}

.titelText{
    display:flex;
    gap:15px
}
.titelText p{
    font-weight: bolder;
    color:#6c276c
}